<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.dotogether.chat.model.dao.ChatMapper">

	<sql id="findMessageInfo">
		SELECT
			MESSAGE_ID messageId,
			SENDER_NO senderNo,
			USER_NAME senderName,
			CONTENT content,
			SENT_DATE sentDate,
			PROFILE_IMG senderProfile
		FROM
			TB_TEAM_MESSAGE
		JOIN
			TB_USER U ON (USER_NO = SENDER_NO)
		LEFT JOIN
			TB_PROFILE P ON(U.USER_NO = P.USER_NO)
	</sql>


	<!-- 팀 채팅 메시지 목록 조회(커서 방식) -->
	<select id="findMessagesByRoomId"
			parameterType="GetMessagesRequest"
			resultType="MessageDTO">
		SELECT
			*
		FROM(
			<include refid="findMessageInfo"/>
			WHERE
				TEAM_ID = #{teamId}
			<if test=" lastTimeStamp != null and lastTimeStamp != 'null' ">
				AND
					SENT_DATE &lt; TO_TIMESTAMP(#{lastTimeStamp}, 'YYYY-MM-DD HH24:MI:SS.FF3')
			</if>
			ORDER BY 
				SENT_DATE DESC
		)
		WHERE
			ROWNUM &lt;= 20
		ORDER BY
			sentDate ASC
	</select>
	
	
	<!-- 채팅 메시지 저장 -->
	<insert id="sendChatMessage"
			parameterType="MessageDTO">
		INSERT INTO
			TB_TEAM_MESSAGE
		VALUES(
			    #{messageId},
			    #{teamId},
			    #{senderNo},
			    #{content},
			    SYSTIMESTAMP
		)
	</insert>
	
	
	<!-- 단일 메시지 조회 -->
	<select id="findMessageByMessageId"
			resultType="MessageDTO"
			parameterType="string">
		<include refid="findMessageInfo"/>
		WHERE
			MESSAGE_ID = #{messageId}
	</select>
	
	
	<!-- 메시지 존재 여부 확인 (존재X : true | 존재O : false) -->
	<select id="checkMessage"
			parameterType="string"
			resultType="boolean">
		SELECT
			DECODE(COUNT(*), 0, 1, 0)
		FROM
			TB_TEAM_MESSAGE
		WHERE
			MESSAGE_ID = #{messageId}
	</select>
	
	
	<!-- 메시지의 발신자인지 확인 (발신자O : false | 발신자X : true) -->
	<select id="checkIsSender"
			parameterType="MessageDTO"
			resultType="boolean">
		SELECT
			DECODE(COUNT(*), 0, 1, 0)
		FROM 
			TB_TEAM_MESSAGE
		WHERE
			MESSAGE_ID = #{messageId}
		AND
			SENDER_NO = #{senderNo}
	</select>
	
	
	<!-- 메시지 수정 처리 -->
	<update id="updateChatMessage"
			parameterType="MessageDTO">
		UPDATE
			TB_TEAM_MESSAGE
		SET
			CONTENT = #{content}
		WHERE
			MESSAGE_ID = #{messageId}
	</update>
	
	
	<!-- 메시지 삭제 처리 -->
	<delete id="deleteChatMessage"
			parameterType="string">
		DELETE
		FROM
			TB_TEAM_MESSAGE
		WHERE
			MESSAGE_ID = #{messageId}
	</delete>

</mapper>