<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.dotogether.schedule.model.dao.ScheduleMapper">

	<insert id="insertSchedule">
		  INSERT INTO TB_SCHEDULE (
			    SCHEDULE_NO,
			    USER_NO,       
			    SECTION_NO,
			    SCHEDULE_TITLE
			) VALUES (
			    SEQ_SCHEDULE_NO.NEXTVAL,
			    #{userNo},     
			    #{sectionNo},
			    #{scheduleTitle}
	)
	</insert>
	
	<select id="findScheduleById">
		SELECT
			SCHEDULE_NO,
		    SECTION_NO,
		    USER_NO,
		    SCHEDULE_TITLE,
		    SCHEDULE_CONTENT,
		    START_DATE,
		    DUE_DATE,
		    IS_COMPLETED
	    FROM
	    	TB_SCHEDULE
    	WHERE
    		SCHEDULE_NO = #{scheduleNo}
		AND
			USER_NO = #{userNo}
	</select>
	
	<update id="updateSchedule">
		UPDATE
			TB_SCHEDULE
	    SET
	   	  	SCHEDULE_TITLE = #{scheduleTitle},
	   	  	SCHEDULE_CONTENT = #{scheduleContent},
	   	  	START_DATE = #{startDate},
	   	  	DUE_DATE = #{dueDate},
	   	  	IS_COMPLETED = #{isCompleted}
		WHERE
	  		USER_NO = #{userNo}
  		AND
  			SCHEDULE_NO = #{scheduleNo}
		AND
			SECTION_NO = #{sectionNo}
	</update>
	
	<delete id="deleteSchedule">
		DELETE
		  FROM
	        TB_SCHEDULE
		 WHERE
        	SCHEDULE_NO = #{scheduleNo}        
		AND
			USER_NO = #{userNo}	
	</delete>
	

	

</mapper>