<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.dotogether.token.model.dao.TokenMapper">

	<insert id="saveToken">
		INSERT
		  INTO
	  TB_TOKEN
		(
			TOKEN_NO
		  , USER_NO
		  , TOKEN
		  , EXPIRE_AT
		)
		VALUES(
			SEQ_TOKEN_NO.NEXTVAL
		  , #{token.userNo}
		  , #{token.token}
		  , #{token.expireAt}
		 )				
	</insert>
	
	<select id="findByToken" resultType="RefreshToken">
		SELECT
				TOKEN_NO as tokenNo
			  , USER_NO as userNo
			  , TOKEN as token
			  , EXPIRE_AT as expireAt
		  FROM
		  		TB_TOKEN
		 WHERE
		    	TOKEN = #{token}
	</select>
	
	<!--userNo로 토큰 삭제-->
	<delete id="deleteTokenByUserNo">
		DELETE
		  FROM
		        TB_TOKEN
		 WHERE
		        USER_NO = #{userNo}
	</delete>
	
	<!--만료된 토큰 삭제-->
	<delete id="deleteExpiredRefreshToken">
		DELETE
		  FROM
		        TB_TOKEN
		 WHERE
		        EXPIRE_AT &lt; #{currentTime}
	</delete>

</mapper>