<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.dotogether.work.model.dao.WorkMapper">

	<sql id="findWorkInfo">
		SELECT
		    WORK_ID workId,
		    TITLE title,
		    CONTENT content,
		    ASSIGNEE_NO assigneeNo,
		    USER_NAME assigneeName,
		    END_DATE endDate,
		    STATUS status,
		    PROFILE_IMG assigneeProfile
		FROM
		    TB_TEAM_WORK W
		JOIN
		    TB_USER U ON (ASSIGNEE_NO = USER_NO)
		LEFT JOIN
			TB_PROFILE P ON(U.USER_NO = P.USER_NO)
	</sql>

	<!-- 특정 팀의 상태별 업무 목록 조회 -->
	<select id="findWorkList"
			parameterType="Work"
			resultType="WorkDTO">
		<include refid="findWorkInfo"/>
		WHERE
		    TEAM_ID = #{teamId}
		AND
			STATUS = #{status}
		ORDER BY
			W.UPDATED_AT DESC
	</select>
	
	
	<!-- 업무 추가 -->
	<insert id="addWork"
			parameterType="Work">
		INSERT INTO
		    TB_TEAM_WORK (
		    TEAM_ID,
		    WORK_ID,
		    ASSIGNEE_NO,
		    END_DATE,
		    STATUS,
		    UPDATED_AT
		)
		VALUES(
		    #{teamId},
		    #{workId},
		    #{assigneeNo},
		    SYSDATE + 7,
		    #{status},
		    SYSDATE
		)
	</insert>
	
	
	<!-- 단일 업무 상세 조회 -->
	<select id="findWorkByWorkId"
			parameterType="string"
			resultType="WorkDTO">
		<include refid="findWorkInfo"/>
		WHERE
			WORK_ID = #{workId}
	</select>
	
	
	<!-- 업무 상태 수정 -->
	<update id="updateWorkStatus"
			parameterType="Work">
		UPDATE
		    TB_TEAM_WORK
		SET
		    STATUS = #{status},
		    UPDATED_AT = SYSDATE
		WHERE
		    WORK_ID = #{workId}
	</update>
	
	
	<!-- 업무 상세 정보 수정 -->
	<update id="updateWorkDetail"
			parameterType="Work">
		UPDATE
		    TB_TEAM_WORK
		SET
		    TITLE = #{title},
		    CONTENT = #{content},
		    ASSIGNEE_NO = #{assigneeNo},
		    END_DATE = TO_DATE(#{endDate}, 'YYYY-MM-DD')
		WHERE
		    WORK_ID = #{workId}
	</update>
	
	
	<!-- 업무 삭제 -->
	<delete id="deleteWorkByWorkNo"
			parameterType="string">
		DELETE
		FROM
		    TB_TEAM_WORK
		WHERE
			WORK_ID = #{workId}
	</delete>

</mapper>